.one-page-app {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

section {
  background: #151b26;
  width: 270px;
  height: 100vh;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: normal;
  color: white;
  color: #9ca6af;
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: normal;
  text-rendering: optimizeLegibility;

}

.greeting-nav {
  margin-left: 270px;
}

.projects-header {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar-item-row {
  box-sizing: border-box;
  margin: 0;
  padding-left: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*fill: #9ca6af;*/
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all .15s ease-in-out;
  -webkit-box-direction: normal;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-rendering: optimizeLegibility;
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #151b26;
  border: 0;
}

.sidebar-item-row:hover {
  transition: all .15s ease-in-out;
  background: #14aaf5;
}

.inner-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
  color: #b9bcc0;
  background-color: white;
  border: 0px solid white;
}

.photo-button {
  background: transparent;
  border: 0px solid transparent;
  color: #9ca6af;
  margin: 0;
  padding: 5px;

}

.photo-button:hover {
  background: transparent;
  border: 0px solid transparent;
  box-shadow: 0 0 0 0px transparent;
}

.photo-caption {
  border-radius: 3px;

}

.photo-container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.profile-photo {
  display: flex;
  align-self: center;

  border-radius: 50%;
  color: #151b26;
  width: 50px;
  height: 50px;
  background-color: #848f99;
  background: #848f99;
  margin: 0;
}

.profile-photo-update {
  font-size: 13px;
  display: flex;
  align-self: center;
  margin: 0px;
}

.blue {
  line-height: 40px;
  font-size: 13px;
  background: #14aaf5;
  border-color: #14aaf5;
  height: 40px;
  color: white;
  fill: white;
  border: 0px solid white;
  display: flex;
  align-self: flex-end;
}

.right {
  display: flex;
  align-self: flex-end;
}

.blue:hover {
  background: white;
  border-color: white;
  color: #14aaf5;
  border: 0px solid white;
}

.profile-title {
  margin-bottom: 20px;
}

label {
  color: #848f99;
  font-size: 13px;
}

.profile-label {
   width: 440px;
}

.profile {

}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.about {
  height: 120px;
  margin: 10px;
  width: 440px;
  border-radius: 3px;
  font-size: 14px;
}

input, textarea {
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #151b26;
  padding-left: 10px;
  border: 1px solid #d5dce0
}

.gold {
  background: #fcbd01;
  border-color: #fcbd01;
  color: white;
  height: 30px;
  line-height: 30px;
  padding: 0 9px;

  display: inline-flex;
  align-self: center;
  justify-content: center;
  -webkit-box-align: center;
  min-width: 50px;
  text-align: center;
  transition-duration: .2s;
  transition-property: background, border, box-shadow, color;
  align-items: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 13px;
  -webkit-box-pack: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;

  margin: 15px;
}

.gold:hover {
  background: #fcbd01;
  color: white;
  border-color: #fcbd01;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;

}

.file-upload, .instructions {
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #9ca6af;
  text-align: center;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 2px dotted #9ca6af;
  color: #9ca6af;
  height: 220px;
  width: 220px;
  border-radius: 10%;
  padding: 10%;
  cursor: pointer;
}
