
section {
  background: #151b26;
  width: 245px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: normal;
  }

.blue {
  line-height: 40px;
  font-size: 13px;
  background: #14aaf5;
  border-color: #14aaf5;
  height: 40px;
  color: white;
  fill: white;
  border: 0px solid white;
}

.right {
  display: flex;
  align-self: flex-end;
}

.blue:hover {
  background: white;
  border-color: white;
  color: #14aaf5;
  border: 0px solid white;
}

.profile-label {
   color: #848f99;
   font-size: 13px;
}

.profile-form {
  display: flex;
  flex-wrap: wrap;
}
