
section {
  background: #151b26;
  width: 245px;
  height: 100vh;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: normal;
  }

.blue {
  line-height: 40px;
  font-size: 13px;
  background: #14aaf5;
  border-color: #14aaf5;
  height: 40px;
  color: white;
  fill: white;
  border: 0px solid white;
  display: flex;
  align-self: flex-end;
}

.right {
  display: flex;
  align-self: flex-end;
}

.blue:hover {
  background: white;
  border-color: white;
  color: #14aaf5;
  border: 0px solid white;
}

.profile-title {
  margin-bottom: 50px;
  margin-left: 15px;
}

.profile-label {
   color: #848f99;
   font-size: 13px;
}

.profile-form {
  display: flex;
  flex-wrap: wrap;
}

.about {
  height: 120px;
  margin: 10px;
  width: 440px;
  border-radius: 3px;
  font-size: 14px;
}
