body {
  font-size: 16px;
  min-width: 700px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;

}

::selection {
  background-color: #80e6ff;
  color: #49505b;
}

::-moz-selection {
  background-color: #80e6ff;
  color: #49505b;
}

ol, ul, li {
  list-style: none;
}

nav {
  height: 60px;
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 5%;
}

.nav-left{
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  margin-left: 5%;

}

.nav-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  min-width: 300px;
}

.hire-me {

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-self: center;
  flex-wrap: nowrap;

  min-width: 90px;

  border-color: transparent;
  color: #a1a4aa;
  margin-right: 12px;

  text-decoration: none;
  cursor: pointer;
  transition: all .15s;
  background: transparent;

  line-height: 0px;

  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;

}

.hire-me:hover {
  color: #80e6ff;
}

a {
  line-height: 0px;
  margin: 20px;
}

h2 {
  font-size: 36px;
  color: #49505b;
  font-weight: 400;
  margin: 5px;
}

button {
  background-color: #6a67ce;

  color: white;
  text-decoration: none;
  -webkit-appearance: none;

  border: 1px solid #6a67ce;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 2;
  text-align: center;
  padding: 0 15px;
  transition: all .15s ease-in-out;
  box-shadow: 0 0 0 0 #d0bbff;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

button:hover {
  box-shadow: 0 0 0 3px #d0bbff;
  transition: all .15s ease-in-out;
  background-color: #a177ff;
  border-color: #a177ff;
}

.white {
  background-color: white;
  border-color: #6a67ce;
  color: #6a67ce;
  border-width: 2px;
  padding: 0 13px;
}

.demo {
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
}

button.white:hover {
  background-color: white;
  color: #c0bbff;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 440px;
  border-radius: 3px;
  font-size: 14px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 10px;
  color: #b9bcc0;
  background-color: white;
  border: 0px solid white;
}

.close-modal:hover{
  color: #80e6ff;
  box-shadow: 0 0 0 0px #d0bbff;
  transition: all .15s ease-in-out;
  background-color: white;
  border-color: white;
}

.login-page {

  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff6d92 radial-gradient(circle at center,#f5b200 0,#fc636b 30%,#ff6d92 70%);
  background-size: 300vw 300vh;
  background-position: -100vw -120vh;

  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 65px;
  line-height: 60px;
  /*border: solid red 2px;*/
  text-align: center;

}

.login-call-to-action {
  font-size: 65px;
  line-height: 75px;
  font-weight: 700;
  /*border: solid black 2px;*/
  margin: 20px;

}

.login-tagline {
  font-size: 22px;
  line-height: 30px;
  /*border: solid green 2px;*/
  margin-bottom: 50px;

}

.login-form-container {
  font-size: 14px;
  color: white;
  line-height:  14px;
  text-align: left;
  /*border: solid blue 2px;*/
  margin: 0px;

}

.login {
  color: #49505b;
  /*line-height:  12px;*/
  /*margin: 0px;*/
  text-align: center;
  /*font-size: 12px;*/

}

.login-label {
  display: flex;
  align-self: flex-start;
}

.errors {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 20px;
  /*border: solid teal 2px;*/
  font-size: 14px;
  color: #ad0025;
  height: 30px;
}

.eachError {
}
